.btn {
  background: #6495ED;
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s all ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.btn:hover {
  background: whitesmoke;
  color: #6495ED;
}

a {
  text-decoration: none;
}

.btn span {
  margin-left: 0.7rem;
}

@media screen and (max-width: 900px) {
  .btn span {
    display: none;
  }
}

.btnDanger {
  background: #8B0000;
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s all ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.btnDanger:hover {
  background: whitesmoke;
  color: #8B0000;
}

.btnDanger span {
  margin-left: 0.7rem;
}

@media screen and (max-width: 900px) {
  .btnDanger span {
    display: none;
  }
}

.btnInfo {
  background: #267c70;
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s all ease-out;
  display: block;
  margin: 10px 10px;
  color: whitesmoke;
}

.btnInfo:hover {
  background: whitesmoke;
  color: #267c70;
}

.btnInfo span {
  margin-left: 0.7rem;
}

@media screen and (max-width: 900px) {
  .btnInfo span {
    display: none;
  }
}

.btnOk {
  background: #6495ED;
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s all ease-out;
  display: block;
  margin: 10px 10px;
  color: whitesmoke;
}

.btnOk:hover {
  background: whitesmoke;
  color: #6495ED;
}

.btnOk span {
  margin-left: 0.7rem;
}

@media screen and (max-width: 900px) {
  .btnOk span {
    display: none;
  }
}